.BuildControls {
    width: 100%;
    display: flex;
    background-color: rgb(240, 185, 114);
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}